@model AspNetCoreMVC.Models.Instituicao

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apagar Instituição</h1>

<h3>Você tem certeza que quer apagar?</h3>
<div>
    <hr />
    <div class="card-body">
        <div class="form-group">
            <div> @Html.DisplayNameFor(model => model.Id)</div>
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa fa-key fa-sm"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="@Model.Id" aria-label="Id" aria-describedby="addon-wrapping" disabled="disabled">
            </div>
            <div> @Html.DisplayNameFor(model => model.Nome)</div>
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-university"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="@Model.Nome" aria-label="Nome" aria-describedby="addon-wrapping" disabled="disabled">
            </div>
            <div> @Html.DisplayNameFor(model => model.Endereço)</div>
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-map-marker-alt"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="@Model.Endereço" aria-label="Endereço" aria-describedby="addon-wrapping" disabled="disabled">
            </div>
        </div>
        <input type="submit" value="Apagar" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ConfirmacaoModal" />
        <a asp-action="Index" class="btn btn-success btn-sm">Voltar para Instituições</a>
    </div>
</div>

<div class="modal" id="ConfirmacaoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Remoção de Instituto</h5>
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Confirma a exclusão de @Model.Nome ?
                <span style="color:red;font-weight:bold"><br />ATENÇÃO: Serão excluído todos departamentos ligados a esta instituição!</span>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Apagar" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ConfirmacaoModal"/>
                    <a asp-action="Index" class="btn btn-success btn-sm">Voltar para Instituições</a>
                </form>
            </div>
        </div>
    </div>
</div>
