@model IEnumerable<AspNetCoreMVC.Models.Instituicao>

@{
    ViewData["Title"] = "Instituições";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Instituições</h1>

<p>
    <a asp-action="Create">Cadastrar Nova Instituição</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInstituicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeInstituicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndereçoInstituicao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdInstituicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeInstituicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndereçoInstituicao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdInstituicao }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdInstituicao }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.IdInstituicao })
            </td>
        </tr>
}
    </tbody>
</table>
